@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap');

:root {
  --background: #ffffff; 
  --foreground: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', 'Poppins', Arial, Helvetica, sans-serif; /* Use imported fonts */
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Ensure this utility is utilized where needed */
  }
}
