/* Example CSS */
html, body {
    background-color: #121828; /* Dark mode background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Default text color for dark mode */
}

/* Additional styles for smooth transitions */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    
  }
  
  .btn {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

.content {
    padding-top: 70px; /* Adjust padding based on navbar height */
}

/* Add dark mode styles */
body.light-mode {
    background-color: #ffffff; /* Light mode background */
    color: #000000; /* Light mode text color */
}

body.dark-mode {
    background-color: #121828; /* Dark mode background */
    color: #ffffff; /* Dark mode text color */
}
